*:focus {
  outline: none;
}

html {
  background: #f2f2f2;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

h1 {
  margin: 0;
  font-size: 33px;
  color: #fff;
  padding: 0 10%;
}

h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  color: #ccc;
  padding: 0 10%;
}

.container {
  display: block;
  width: 100%;
  height: 750px;
  margin: auto;
  overflow: hidden;
  background-image: url("https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/bg-music-player.jpg");
  background-repeat: repeat;
  background-size: cover;
}

.music-player {
  display: block;
  position: relative;
  width: 400px;
  height: 570px;
  margin: auto;
  margin-top: 6%;
  border-radius: 0 0 10px 10px;
  background: transparent
    linear-gradient(to bottom, rgba(10, 11, 31, 0.9) 50%, rgb(10, 11, 31) 70%)
    repeat scroll 0 0;
  box-shadow: 1px 10px 20px 5px #222;
}

.cover {
  float: left;
  width: 100%;
  height: 66%;
}

.cover img {
  display: block;
  position: absolute;
  top: 8%;
  left: 14%;
  width: 70%;
  margin: auto;
  text-align: center;
}

.titre {
  float: left;
  width: 100%;
}

.lecteur {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
  float: left;
}
